<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorldExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorldExplorer.Properties.Settings>
            <setting name="DataPath" serializeAs="String">
                <value>C:\emu\bgda\BG\DATA</value>
            </setting>
            <setting name="EngineVersion" serializeAs="String">
                <value>DarkAlliance</value>
            </setting>
        </WorldExplorer.Properties.Settings>
    </userSettings>
</configuration>